<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ticketmanagement.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>Ticket_management_system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewSchedulesServlet</display-name>
    <servlet-name>ViewSchedulesServlet</servlet-name>
    <servlet-class>ticketmanagement.ViewSchedulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewSchedulesServlet</servlet-name>
    <url-pattern>/ViewSchedulesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryRouteServlet</display-name>
    <servlet-name>QueryRouteServlet</servlet-name>
    <servlet-class>ticketmanagement.QueryRouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryRouteServlet</servlet-name>
    <url-pattern>/QueryRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketStatisticsServlet</display-name>
    <servlet-name>TicketStatisticsServlet</servlet-name>
    <servlet-class>ticketmanagement.TicketStatisticsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketStatisticsServlet</servlet-name>
    <url-pattern>/TicketStatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseTicketServlet</display-name>
    <servlet-name>PurchaseTicketServlet</servlet-name>
    <servlet-class>ticketmanagement.PurchaseTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseTicketServlet</servlet-name>
    <url-pattern>/PurchaseTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyTicketServlet</display-name>
    <servlet-name>BuyTicketServlet</servlet-name>
    <servlet-class>ticketmanagement.BuyTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyTicketServlet</servlet-name>
    <url-pattern>/BuyTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddScheduleServlet</display-name>
    <servlet-name>AddScheduleServlet</servlet-name>
    <servlet-class>ticketmanagement.AddScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddScheduleServlet</servlet-name>
    <url-pattern>/AddScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateScheduleServlet</display-name>
    <servlet-name>UpdateScheduleServlet</servlet-name>
    <servlet-class>ticketmanagement.UpdateScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateScheduleServlet</servlet-name>
    <url-pattern>/UpdateScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RefundTicketServlet</display-name>
    <servlet-name>RefundTicketServlet</servlet-name>
    <servlet-class>ticketmanagement.RefundTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefundTicketServlet</servlet-name>
    <url-pattern>/RefundTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessRefundServlet</display-name>
    <servlet-name>ProcessRefundServlet</servlet-name>
    <servlet-class>ticketmanagement.ProcessRefundServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessRefundServlet</servlet-name>
    <url-pattern>/ProcessRefundServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchScheduleServlet</display-name>
    <servlet-name>SearchScheduleServlet</servlet-name>
    <servlet-class>ticketmanagement.SearchScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchScheduleServlet</servlet-name>
    <url-pattern>/SearchScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryScheduleServlet</display-name>
    <servlet-name>QueryScheduleServlet</servlet-name>
    <servlet-class>ticketmanagement.QueryScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryScheduleServlet</servlet-name>
    <url-pattern>/QueryScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteScheduleServlet</display-name>
    <servlet-name>DeleteScheduleServlet</servlet-name>
    <servlet-class>ticketmanagement.DeleteScheduleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteScheduleServlet</servlet-name>
    <url-pattern>/DeleteScheduleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessDeleteServlet</display-name>
    <servlet-name>ProcessDeleteServlet</servlet-name>
    <servlet-class>ticketmanagement.ProcessDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessDeleteServlet</servlet-name>
    <url-pattern>/ProcessDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImportSchedulesServlet</display-name>
    <servlet-name>ImportSchedulesServlet</servlet-name>
    <servlet-class>ticketmanagement.ImportSchedulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportSchedulesServlet</servlet-name>
    <url-pattern>/ImportSchedulesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportSchedulesServlet</display-name>
    <servlet-name>ExportSchedulesServlet</servlet-name>
    <servlet-class>ticketmanagement.ExportSchedulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportSchedulesServlet</servlet-name>
    <url-pattern>/ExportSchedulesServlet</url-pattern>
  </servlet-mapping>
</web-app>