@charset "UTF-8";
body {
    font-family: 楷体, Arial, sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    color: black;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
	background: linear-gradient(to right, #ffecd2, #fcb69f);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="time"],
form input[type="submit"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #555;
}
