@charset "UTF-8";
body {
    font-family: '楷体', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 1em 0 0.5em;
}

input[type="text"] {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: #ff8080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}
