@charset "UTF-8";
body {
    font-family: 楷体, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    margin: 0;
    padding: 0;
}
header {
    background: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
}
h1 {
    margin: 0;
    background: linear-gradient(to right, #ffecd2, #fcb69f);
    padding: 20px;
    border-radius: 8px;
    color: #333;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid #000;
}
th, td {
    padding: 15px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}